.taskItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid teal;
  font-family: "Inter", sans-serif;
  background-color: rgb(231, 230, 230);
  transition: all 0.3s ease;
}

.task-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.checkbox {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.checkbox-low {
  accent-color: teal;
}

.checkbox-medium {
  accent-color: yellow;
}

.checkbox-high {
  accent-color: red;
}

.done {
  text-decoration: line-through;
  color: #888;
  opacity: 0.8;
}

.taskContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative; 
}

.deadline {
  display: inline-block;
  font-size: 11px;
  color: #666;
  padding: 2px 6px;
  border-radius: 3px;
  cursor: pointer;
}

.deadlineButton {
  background: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 4px 10px;
  font-size: 11px;
  color: #666;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
  transition: all 0.2s;
}

.deadlineButton:hover {
  background: #e0e0e0;
  border-color: #999;
}

.datePickerPopup {
  position: absolute;
  top: 100%; /* появляется под кнопкой */
  left: 0;
  z-index: 1000;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-top: 8px;
}

.priority-wrapper {
  position: absolute;
  top: 50%; 
  left: 0;
  z-index: 1000;
  background-color: rgb(229, 227, 227);
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.priority-choice  {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 8px;
}

.high {
  border: 3px solid #e57f7f;
}

.medium {
  border: 3px solid #d1a449;
}

.low {
  border: 3px solid #8aeeb2;
}

.taskItem:hover {
  background-color: rgb(215, 213, 213);
}

.priority-indicator {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 8px;
}

.priority-high {
  background-color: #ff4444;
  box-shadow: 0 0 5px rgba(255, 68, 68, 0.5);
}

.priority-medium {
  background-color: #ffbb33;
  box-shadow: 0 0 5px rgba(255, 187, 51, 0.5);
}

.priority-low {
  background-color: #00C851;
  box-shadow: 0 0 5px rgba(0, 200, 81, 0.5);
}
